h1{color: red}

.button{
    font-size: 30px;
    color: rgb(230, 230, 230);
    background-color: rgb(71, 94, 28);
    width: 6em;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 2px 2px black;
    transition: width 0.2s;
    margin: 0 auto;
    cursor: pointer;
}

.flash{
    border:2px solid orange;
    background-color: rgb(205, 152, 53);
    padding: 1rem;
    font-size: 1.5rems;
}