{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %} 
<p><h2>{{title}}</h2></p> 
<p>Instructions - {{instructions}}</p>

<form action="/questions/submit" method="GET">
    <label for="question">{{q_num + 1}}: {{current_question}}</label><br>
    <select required size="2" id="question" name="answer">
        {% for choice in choices %}
            <option value="{{choice}}">{{choice}}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="answer_num" value="{{q_num}}"><br>
    <button class="button">Next Question ➡</button>
</form>




{% endblock %}

